* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}
header {
  text-align: center;
  border-bottom: 1px solid lightgrey;
}
h1 {
  font-weight: bold;
  color: darkblue;
}
main {
  width: 450px;
  margin:auto;
  box-shadow: 2px 2px 8px grey;
}
p {
  text-align: center;
}
form {
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 450px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input#submit {
  font-size: 16px;
  background-color: lightgrey;
  border: 1px solid grey;
  cursor: pointer;
}

input#submit:hover {
  background-color: yellow;
}

input#submit:active {
  box-shadow: none;
}

